.stocks a {
  color: #99CC00;
  font-weight: bold;
}

.testDash{
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  left: 50%;
  top: 10%;
  padding: 10px;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.descriptionField{
  flex-grow: 4;
}

.buttonContainer{
  display: flex;
  flex-direction: row;

}

.slideButton{
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.slideButton:hover{
  cursor: pointer;
  background-color: white;
}

.prevSlideButton{
  margin: 10px;
}

.nextSlideButton{
margin: 10px;
}
