.stocks a {
  color: #99CC00;
  font-weight: bold;
}

.testDash{
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 100%;
  height: 15%;
  margin: 0 auto;
  bottom: 0%;
  /*padding: 10px;*/
  color: white;
  background-color: #316063;
  opacity: .9;
}

.subDash{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.descriptionField{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  font-family: 'Bitter', serif;
  font-size: 15px;
}

.descriptionText{
  /*flex-grow: 9;*/
  text-align: center;

}

.closeButtonContainer{
  /*border: 2px solid white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;*/
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  color: white;

}

.xButton{
  text-decoration: none;
  color: white;
  margin: 5px 5px 0px 10px;
}

.xButton:hover{
  cursor: pointer;
  color: white;
}

.slideButton{
  /*margin: 10px;*/
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
}

.slideButton:hover{
  cursor: pointer;
  color: black;
  background-color: white;
}

.linkText{
  text-decoration: none;
}

.linkText:hover{
  cursor: pointer;
  color: black;
  /*background-color: white;*/
}

.prevSlideButton{
  margin: 10px;
}

.nextSlideButton{
margin: 10px;
}

a{
  color: white;
}

@media only screen and (max-width: 500px) {
    .descriptionText{
      font-size: 8px;
    }
}
