html{
  background-color: #5d9e8c;
}

.homeContainer{
  height: 100%;
  width: 100%;

}

.titleContainer{
  width: 100%;
  text-align: center;
}

.title{
  margin: 50px;
  font-size: 100px;
  font-family: 'Tangerine', cursive;
  font-weight: 800;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  color: white;
}

.linkContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.homeLink{
  text-decoration: none;
  font-family: 'Tangerine', cursive;
}

.linkLink{
  text-decoration: none;
  border: 5px solid black;
  border-radius: 20px;
  padding: 100px;
  margin: 50px;
  font-size: 100px;
  font-family: 'Tangerine', cursive;
  background-color: #6e8c91;

}

@media only screen and (max-width: 500px) {
    .linkContainer{
      flex-direction: column;
    }
    .homeLink{

      font-size: 50px;

    }
}
